.Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 20px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.img-thumbnail{
    margin: 5px;
    margin-bottom: 15px;
}

.btn-detalle-producto{
    width: 60%;
}